global:
  scrape_interval: 15s

scrape_configs:
    #foreach($entry in $entries)
  - job_name: '${entry.getName().toLowerCase()}'
    metrics_path: '/${entry.getName().toLowerCase()}/metrics'
    scheme: 'https'
    static_configs:
      - targets: ['${config.getRegionName()}-${config.getProjectName()}.cloudfunctions.net']
    #end