# Generated with Jinja2
# Header declaration
G
"{{ lqn_id }}.lqn"
0.01
10000
1
0.5
-1

# Processors declaration, with multiplicity
P 0
{% for processor in processors -%}
p {{ processor }} f m 1000
{% endfor -%}
-1

# Tasks declaration
T 0
t Task0 r Entr0 -1 Proc0 m 1
{% for i in range(1, num_tasks) -%}
t Task{{ i }} n Entr{{ i }} -1 Proc{{ i }} m 1000
{% endfor -%}
-1

# Entries declaration
E 0
{% for i in range(num_tasks) -%}
A Entr{{ i }} acti{{ i }} 
{% endfor -%}
-1

# Activities declaration{% for i in range(num_tasks) %}{% if dag[i] | length == 0 %}
A Task{{ i }}
s acti{{ i }} {% if i == 0 %}0.0001{% else %}{{ random_service_time() }}{% endif %}
:
    acti{{ i }}[Entr{{ i }}]
-1{% elif dag[i] | length == 1 %}
A Task{{ i }}
s acti{{ i }} 0.0001
s acti{{ i }}{{ dag[i][0] }} {% if i == 0 %}0.0001{% else %}{{ random_service_time() }}{% endif %}
{{ get_call_type(p_async) }} acti{{ i }}{{ dag[i][0] }} Entr{{ dag[i][0] }} {{ get_call_number(call_avg, call_var) }}
:
    acti{{ i }} -> acti{{ i }}{{ dag[i][0] }}{% if i != 0 %};
    acti{{ i }}{{ dag[i][0] }}[Entr{{ i }}]{% endif %}
-1
{% else %}
A Task{{ i }}
s acti{{ i }} 0.0001{% for j in dag[i] %}
s acti{{ i }}{{ j }} {% if i == 0 %}0.0001{% else %}{{ random_service_time() }}{% endif %}{% endfor %}{% for j in dag[i] %}
{{ get_call_type(p_async) }} acti{{ i }}{{ j }} Entr{{ j }} {{ get_call_number(call_avg, call_var) }}{% endfor %}
:
    acti{{ i }} -> ({{ get_probability(0, dag[i] | length) }})acti{{ i }}{{ dag[i][0] }}{% for j in dag[i][1:] %} + ({{ get_probability(1, dag[i] | length) }})acti{{ i }}{{ j }}{% endfor %}{% if i != 0%}{% for j in dag[i] %}{% if i != 0 %};
    acti{{ i }}{{ j }}[Entr{{ i }}]{% endif %}{% endfor %}{% endif %}
-1{% endif %}
{% endfor %}


